.pin-card {
  border       : 1px solid #30363d;
  border-radius: 6px;
  width        : 63% !important;
  margin       : 1em;
}

.pin-card a {
  color: #58a6ff;
  text-decoration: none;
}

.pin-card a:hover {
  color: #58a6ff;
  text-decoration: underline;
}