.page-container {
  display: flex;
}

.repo-card-container {
  border: 1px solid black;
  min-width: 50em;
  min-height: 30em;
  margin-bottom: 3em;
}

.repo-form-container {
  display: flex;
  width: 50em;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 5em;
}

.repo-form-container form {
  width: 30em;
}
