.added-repo {
  margin-left: 1em;
  max-width: 50%;
  text-align: justify;
  text-justify: inter-word;
}

.added-repo p {
  font-size: 0.85em;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #58a6ff;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
  color: #58a6ff;
}

.repo-list-item {
  border-bottom: 1px solid rgba(85, 84, 84, 0.349);
  margin: 0.5em;
  font-weight: 400;
  color: #8b949eaf;
}
.form-label span {
  color: red;
}
